<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Highspeed Railway visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- content -->
    <h1>SIMULATION VISUALIZATION</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <hr>
    <button id="runSimulation">run simulation and list late 10 stations</button>
    <ul id="resultList"></ul>
    <button id="SIRwithImmunity" disabled>Run SIR simulation with above 10 stations</button>
    <button id="optimalImmunity">Run SIR simulation with best immunity nodes</button>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>

