<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='network.css') }}">
    <title>Network Animation</title>
</head>
<body>
    <h1>Simulation</h1>
    <h3>simulation settings</h3>
    <label>
        <select id="modelSelect">
            <option value="SIR">SIR</option>
            <option value="SIS">SIS</option>
        </select>
    </label>
    <label>
        <div class="node-selector">
            <label for="node-select">Select a Node:</label>
            <select id="node-select" style="width: 400px;">
                <option value="">-- Select a Node --</option>
            </select>
            <!-- <p>Selected Node: <span id="selected-node">None</span></p> -->
            <button id="startSimulation">Start Simulation</button>
        </div>
    </label>

    <div id="controls">
        <button id="start">▶️ Start</button>
        <button id="pause">⏸️ Pause</button>
        <label >
            step:
            <input type="range" id="stepSlider" min="0" max="0" value="0">
            <span id="stepLabel">0</span>
        </label>
    </div>

    <svg id="network" width="1000" height="700"></svg>

    <div class="legend">
        <div class="legend-item"><div class="legend-box" style="background-color: #aaa"></div>S</div>
        <div class="legend-item"><div class="legend-box" style="background-color: red"></div>I</div>
        <div class="legend-item"><div class="legend-box" style="background-color: green"></div>R</div>
    </div>

    <script src="{{ url_for('static', filename='network.js') }}"></script>
</body>
</html>